@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  /* background-color: #111827; */
  background-color: #171d32;
  color: white;
  scroll-behavior: smooth;
}
